@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.App {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main-page {
  height: 95vh;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  box-sizing: border-box;
}
.text {
  margin: center;
  color: blue;
  text-align: center;
}
.card {
  width: 18rem;
}
.new-link {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 5rem;
  text-decoration: none;
  color: black;
}

.left-navbar {
  width: 15%;
  padding: 0.5rem;
  border-right: 0px solid rgba(0, 0, 0, 0.05);
}
.main-section {
  width: 100%;
  min-height: 100%;
  /* overflow-y: scroll; */
}

.first-section {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.card-item {
  position: relative;
}
.card-item .btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
